@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 5, 5, 5;
  --background-end-rgb: 0, 0, 0;
}

body {
  background: radial-gradient(circle at center, #111 0%, #000 100%);
}

/* Custom Scanline Effect */
.bg-scanlines {
  background: repeating-linear-gradient(
    0deg,
    transparent 0px,
    transparent 2px,
    rgba(0, 255, 65, 0.05) 3px
  );
}