@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --comic-bg: #fffbeb;    /* Cream/Paper */
  --comic-black: #050505; /* Ink Black */
  --comic-red: #ff003c;   /* Action Red */
  --comic-blue: #00f3ff;  /* Cyan/Print Blue */
  --comic-yellow: #ffee00;/* Warning Yellow */
}

body {
  background-color: var(--comic-bg);
  color: var(--comic-black);
  font-family: 'Courier New', Courier, monospace; /* Typewriter style */
}

/* Comic Book Utilities */
.comic-box {
  background-color: white;
  border: 4px solid var(--comic-black);
  box-shadow: 6px 6px 0px 0px var(--comic-black);
}

.comic-button {
  transition: all 0.1s;
  border: 3px solid var(--comic-black);
  box-shadow: 4px 4px 0px 0px var(--comic-black);
}

.comic-button:active {
  transform: translate(2px, 2px);
  box-shadow: 2px 2px 0px 0px var(--comic-black);
}